:host {
  .error-container, .error-text {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .error-text {
    margin-top: 2.5em;
    font-size: 1.1rem;
    
    span {
      margin-top: 1em;
    }

    a {
      color: var(--color-text-main);

      &:hover {
        text-decoration: underline;
      }
    }
  }
}