:host {
    --project--b-radius: .4em;
    --project-pink: #ff69c1;

    .featured-project {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .project__url {
        position: absolute;
        display: flex;
        color: var(--project-pink);
        width: .9em;
    }

    .featured-image__container {
        position: relative;
        width: 100%;

        .project__image {
            border-radius: var(--project--b-radius);
            display: block;
            max-width: 100%;
            object-fit: cover;
            aspect-ratio: 16/9;
            box-shadow: 0px 10px 20px #00000030;
        }

        .project__links {
            position: absolute;
            top: 1em; right: 1em;
            color: white;

            & > a {
                &:not(:last-child) {
                    margin-right: .5em;
                }
    
                &:hover {
                    color: var(--project-pink);
                }
            }
            
            .project__link {
                display: inline-flex;
                border-radius: var(--project--b-radius);
                background: var(--bg-secondary-color);
                box-shadow: 0 0 8px rgb(0,0,0,.45);
                transition: color .2s ease;
                padding: .6em;

                &__text {
                    clip-path: inset(100%);
                    clip: rect(1px, 1px, 1px, 1px);
                    height: 1px;
                    overflow: hidden;
                    position: absolute;
                    white-space: nowrap;
                    width: 1px;
                }
                
                .project__link_icon {
                    width: 1.2em;
                    height: 1.2em;
                }
            }
        }

        .project__url {
            right: 1em; top: 1em;
            z-index: 100;

            &:before {
                content: '';
                position: absolute;
                border-radius: var(--project--b-radius);
                background: var(--bg-secondary-color);
                box-shadow: var(--terminal-shadow);
                padding: .5em .6em .4em .6em;
                width: 20px; height: 20px;
                right: -8px;
                z-index: -1;
            }

            @media (min-width: 1200px) {
                visibility: hidden;
            }
        }
    }

    .project__wrapper {
        position: relative;
        width: 95%;
        height: 100%;
        right: 0; top: 0;
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin-top: -20%;
        pointer-events: none;

        .project__container {
            border-radius: var(--project--b-radius);
            background: var(--bg-secondary-color);
            padding: 1.35em 1.75em 1.7em 1.75em;
            color: white;
            box-shadow: var(--terminal-shadow);
            pointer-events: all;

            * {
                pointer-events: none;
            }

            .project__title {
                position: relative;
                font-size: 1.2rem;

                .project__url {
                    visibility: hidden;
                    right: 0;
                    top: 0;

                    @media (min-width: 1200px) {
                        visibility: visible;
                    }
                }
            }

            .project__description {
                margin-top: 1.35em;
                font-size: .8em;
                line-height: 1.5em;
            }

            .project__tags {
                margin-top: 1.5em;
                text-align: right;

                @media (min-width: 600px) {
                    float: right;
                }
            }
        }
    }

    @media (min-width: 550px) {
        .project__description {
            font-size: .75em;
        }

        .project__wrapper {
            width: 85%;
        }
    }

    @media (min-width: 800px) {
        .featured-image__container {
            width: 70%;
        }

        .project__wrapper {
            width: 65%;
            margin-top: -10%;
        }
    }

    @media (min-width: 1200px) {
        .featured-project {
            flex-direction: row;

            .featured-image__container { 
                .project__links {
                    top: unset; right: unset;
                    bottom: 1em; left: 1em;

                    a.icon-external-link {
                        display: none;
                    }
                }
            }

            &--rtl {
                flex-direction: row-reverse;
    
                .project__wrapper {
                    left: 0;
                }

                .featured-image__container { 
                    .project__links {
                        left: unset; right: 1em;
                    }
                }
            }
        }

        .project__wrapper {
            width: 54%;
            position: absolute;
            margin-top: 0;
        }
    }
}
