:host {
    .locale-switcher {
        position: relative;
        display: flex;
        align-items: center;
    
        .lang-icon {
            width: 18px;
            height: 18px;

            ::ng-deep svg {
                stroke-width: 1.75px;
            }
        }

        #locale-selector {
            list-style: none;
            position: absolute;
            top: calc(100% + 1em);
            left: -41px;
            display: flex;
            flex-direction: column;
            color: var(--text-color) !important;
            border-radius: .5em;

            -webkit-box-shadow: 0px -5px 13px 1px rgba(0,0,0,0.2),
                0px 2px 13px 1px rgba(0,0,0,0.2);
            -moz-box-shadow: 0px -5px 13px 1px rgba(0,0,0,0.2),
                0px 2px 13px 1px rgba(0,0,0,0.2);
            box-shadow: 0px -5px 13px 1px rgba(0,0,0,0.2),
                0px 2px 13px 1px rgba(0,0,0,0.2);

            .selector-caret {
                position: absolute;
                top: -.5em;
                left: 50%;
                transform: translateX(-50%);
                width: 0;
                height: 0;
                border-left: .5em solid transparent;
                border-right: .5em solid transparent;
                border-bottom: .5em solid var(--bg-color);
            }

            @media (max-width: 600px) {
                left: -36px;
            }

            @media (max-width: 450px) {
                left: -61px;

                .selector-caret {
                    left: 70px;
                }
            }

            li {
                padding: .75em 1.2em .8em 1.2em;
                border-radius: .5em;

                &.selected {
                    color: var(--color-text-main);
                }

                &:hover {
                    text-decoration: line-through;
                }
            }
        }  
    }
}