:host {
  .nav {
    width: 100%;
    padding: 1.8em 2.2em;
    position: absolute;
    color: var(--text-color);
    top: 0; left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .nav-logo {
      span, h1 {
        color: var(--color-text-main);
        display: inline-block;
        font-size: 1.05em;
      }
    }

    .nav-links {
      display: flex;
      align-items: center;
      font-weight: 500;
      font-size: .95em;

      .nav-link:not(:first-child) {
        margin-left: 2.5em;
      }

      a {
        text-decoration: none;
        color: inherit;
      }

      .nav-link {
        cursor: pointer;

        &-number {
          font-size: 1em;
          letter-spacing: -1px;
          color: var(--color-text-main);
          margin-right: .5em;

          &::after {
            content: '.';
            margin-left: -.2em;
          }
        }
      }
    }
  }
}
