:host {
  .nav {
    width: 100%;
    padding: 1.75rem;
    position: absolute;
    color: var(--text-color);
    top: 0; left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media (min-width: 600px) {
      padding: 1.8rem 2.2rem;
    }

    .nav-logo {
      span, h1 {
        color: var(--color-text-main);
        display: inline-block;
        font-size: 1.05em;
      }
    }

    .nav-links {
      display: flex;
      align-items: center;
      font-weight: 500;
      font-size: .85em;
      gap: 1.5em;

      @media (min-width: 600px) {
        gap: 2.5em;
        font-size: .95em;
      }

      a {
        text-decoration: none;
        color: inherit;
      }

      .nav-link {
        cursor: pointer;
        transition: all .2s ease;

        @media (max-width: 450px) {
          &:last-child {
            display: none;
          }
        }

        @media (min-width: 600px) {
          &:hover {
            color: var(--color-text-main);
          }
        }

        &-number {
          font-size: 1em;
          letter-spacing: -1px;
          color: var(--color-text-main);
          margin-right: .5em;

          &::after {
            content: '.';
            margin-left: -.2em;
          }
        }
      }
    }
  }
}
