:host {
  display: flex;
  align-content: center;
  cursor: pointer;

  .theme-icon {
    width: 18px;
    position: relative;

    ::ng-deep {
      svg {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
      }
    }
  }
}
