:host {
    #about-me {
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        max-width: 100%;
        width: 820px;
        padding: 0 1.75rem;
        margin: 0 auto;

        @media (min-width: 1200px) {
            width: 1048px;
        }

        @media (min-width: 600px) {
            padding: 0 2.2rem;
        }
        
        h2, h3, p {
            color: var(--text-color);
        }

        header {
            span {
                font-size: 1.1rem;
                color: var(--color-text-main);
            }
            
            h2, h3 {
                margin-top: 1rem;
                font-family: Helvetica, Arial, sans-serif;
                opacity: .95;
                font-size: clamp(1rem, 4.3rem, 10vw);
                text-indent: -0.15rem;

                @media (min-width: 725px) {
                    text-indent: -0.25rem;
                }
            }
            
            h3 {
                opacity: .6;
                margin: 0 0 1rem 0;
            }
        }

        article {
            p, span {
                font-family: var(--system-fonts);
                line-height: 1.75;
                font-size: .9rem;

                @media (min-width: 600px) {
                    font-size: 1rem;
                }
            }
            
            p {
                margin-top: 1.25rem;
                opacity: .9;
            }
        }
    }

    #featured-projects {
        display: flex;
        flex-direction: column;
        margin: .5em auto 5em auto;
        max-width: 100%;
        width: 980px;
        padding: 0 2.2em;
        gap: 6em;

        .featured-project__separator{
            height: 5em;
        }
    }

    #contact {
        margin: 11rem 0 7.5rem 0;
        padding: 0 2.2em;
            
        pre {
            color: white;
            margin: 4.5rem auto 0 auto;
            background: var(--bg-secondary-color);
            border-radius: 0.375em;
            width: fit-content;
            max-width: 100%;

            code {
                background-color: transparent;
                line-height: 1.4;
                font-size: 1rem;
                display: block;
                padding: 1.4rem 1.8rem;
                display: block;
                white-space: pre-wrap;
            }

            a {
                text-decoration: underline;
            }
        }
    }

    #featured-projects, #contact {
        h3 {
            color: var(--text-color);
            text-align: center;
            text-decoration: overline;
            font-size: 1.75rem;
            margin: 0;
        }
    }

    #about-me, #contact {
        .highlight, a {
            color: var(--color-text-main);
        }
    }
}