<!--app-terminal></app-terminal-->

<section id="about-me">
    <header>
        <span [translate]="'HOME.ABOUT_ME.TITLE'"></span>
        <h2 [translate]="'HOME.ABOUT_ME.NAME'"></h2>
        <h3 [translate]="'HOME.ABOUT_ME.SUBTITLE'"></h3>
    </header>
    <article>
        <p [innerHtml]="'HOME.ABOUT_ME.PARAGRAPH1' | translate"></p>
        <p [innerHtml]="'HOME.ABOUT_ME.PARAGRAPH2' | translate"></p>
    </article>
</section>

<section id="featured-projects">
    <h3 [translate]="'HOME.FEATURED_WORK.TITLE'"></h3>
    <ng-container *ngFor="let project of projects">
        <app-featured-project
            [project]="project"
            [rtl]="project.index % 2"
        ></app-featured-project>
    </ng-container>
</section>

<section id="contact">
    <h3 [translate]="'HOME.CONTACT_ME.TITLE'"></h3>
    <pre><code><span class="highlight">▲</span> node

    <span class="highlight">></span> import {{'{'}} MailService {{'}'}} from 'mail'
    <span class="highlight">></span> MailService.search('dsgdsr 🦄')

    Contact mail found: <a href="mailto:contact@dsgdsr.me">contact@dsgdsr.me</a></code></pre>
</section>
