:host {
    .featured-project__list {
        margin: .5em auto 5em auto;
        max-width: 100%;
        width: 980px;
        padding: 0 2.2em;

        &-title {
            color: var(--text-color);
            text-align: center;
            text-decoration: overline;
            margin: 0;
        }

        .featured-project__separator{
            height: 5em;
        }
    }
}