<div class="social-links">
  <ul class="social-icons-list">
    <!--li class="social-icon">
      <a href="mailto:contact@dsgdsr.me" aria-label="Email" target="_blank" rel="noreferrer" class="social-icon__link">
        <span class="social-icon__link__text">Email</span>
        <i-feather class="icon" name="mail"></i-feather>
      </a>
    </li-->
    <li class="social-icon">
      <a href="https://codepen.io/dsgdsr" aria-label="Codepen" target="_blank" rel="noreferrer" class="social-icon__link">
        <span class="social-icon__link__text">Codepen</span>
        <i-feather class="icon" name="codepen"></i-feather>
      </a>
    </li>
    <li class="social-icon">
      <a href="https://github.com/dsgdsr" aria-label="GitHub" target="_blank" rel="noreferrer" class="social-icon__link">
        <span class="social-icon__link__text">Github</span>
        <i-feather class="icon" name="github"></i-feather>
      </a>
    </li>
    <li class="social-icon">
      <a href="https://www.linkedin.com/in/dsgdsr" aria-label="Linkedin" target="_blank" rel="noreferrer" class="social-icon__link">
        <span class="social-icon__link__text">Linkedin</span>
        <i-feather class="icon" name="linkedin"></i-feather>
      </a>
    </li>
  </ul>
</div>
