<div class="terminal-container">
  <div
    id="termynal"
    data-termynal
    data-ty-typeDelay="30"
    data-ty-lineDelay="700"
  >
    <span data-ty="input" data-ty-prompt="▲"
      >yarn add @dsgdsr/about-me@latest</span
    >
    <span data-ty>#TODO about</span>
    <span data-ty="input" data-ty-prompt="▲"
      >cat ../portfolio/projects.list</span
    >
    <span data-ty
      >['<a href="#">spotifyrics</a>', '<a href="#">pykedex</a>', '<a href="#"
        >react-progress</a
      >', '<a href="#">project 4</a>']</span
    >
    <span data-ty="input" data-ty-prompt="▲">node</span>
    <span data-ty="input" data-ty-prompt=">"
      >import {{ "{" }} MailService {{ "}" }} from 'mail'</span
    >
    <span data-ty="input" data-ty-prompt=">"
      >MailService.search('dsgdsr 🦄')</span
    >
    <span data-ty
      >Contact mail found:
      <a href="mailto:contact@dsgdsr.me">contact@dsgdsr.me</a></span
    >
  </div>
</div>
