name: Run tests on main branch push

on: 
  push:
    branches: 
      - main
      
jobs:
  web-deploy:
    name: Run Angular tests
    runs-on: ubuntu-latest

    steps:
    - name: Get latest code
      uses: actions/checkout@v2.3.2

    - name: Use Node.js 16 LTS
      uses: actions/setup-node@v2
      with:
        node-version: '16'
      
    - name: Install NPM Modules
      run: npm install

    - name: Run Angular tests
      run: npm run test:prod