name: Run tests on main branch push

on: workflow_dispatch
      
jobs:
  web-deploy:
    name: Run Angular tests (NOT USED)
    runs-on: ubuntu-latest

    steps:
    - name: Get latest code
      uses: actions/checkout@v2.3.2

    - name: Use Node.js 16 LTS
      uses: actions/setup-node@v2
      with:
        node-version: '16'
      
    - name: Install NPM Modules
      run: yarn install

    - name: Run Angular tests
      run: yarn test:prod
